
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
}

.logo span {
    color: white;
}

.nav-buttons .btn {
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
}

.jogos {
    padding: 20px;
    text-align: center;
}

.jogos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.jogo {
    background-color: #222;
    padding: 30px;
    border-radius: 10px;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

footer img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.auth-container {
    background-color: #000;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ff0;
}

.auth-box h2 {
    margin-bottom: 20px;
    color: yellow;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.auth-box a {
    color: violet;
    text-decoration: none;
}
